{% extends 'product/admin_func.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/add_product.css' %}">

<div class="content-section">
{% include 'product/messages.html' %}
    <h2>Add Product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                    {% for field in form %}
                        {{ field.label }}
                        {% if field.errors %}
                            {{ field }}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
            </legend>
        </fieldset>
    <button type="submit">Submit</button>
    </form>
</div>
{% endblock %}