{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
            Base
        {% endblock %}
    </title>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-dc2NSrAXbAkjrdm9IYrX10fQq9SDG6Vjz7nQVKdKcJl3pC+k37e7qJR5MVSCS+wR" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/base.css' %}">
    {% block css %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'grocery_store_home' %}">Grocery Store</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
             <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'grocery_store_home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about-us' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'give-feedback' %}">Feedback</a>
                </li>
                <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}

                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                Orders
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'cart' %}">My Cart</a></li>
                                <li><a class="dropdown-item" href="{% url 'favourites' %}">View Favourites</a></li>
                                <li><a class="dropdown-item" href="{% url 'wishlist' %}">My WishList</a></li>
                                <li><a class="dropdown-item" href="{% url 'orders' %}">My Orders</a></li>

                            </ul>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'user-profile' %}">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout-user' %}">Logout</a>
                        </li>



                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register-user' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </div>

            </ul>
        </div>
    </div>
</nav>


{% block content %} Base {% endblock %}

<script>
    $(document).ready(function () {
        $('#search_input').on('keyup', function () {
            if ($(this).val().length == 0) {
                $("#submit").attr("disabled", true);
            } else {
                $("#submit").removeAttr("disabled");
            }
        });
    });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>
</html>