{% extends "product/base.html" %}
{% include "product/messages.html" %}
<!DOCTYPE HTML>
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}

{% block css %}
{% endblock %}


{% block content %}
    <form action="{% url 'api_checkout_session' pk %}" method="POST">
        {% csrf_token %}
        <label for="address-buy">Add Your Address here : </label>
        <textarea id="address-buy" name="address-buy" rows="10" cols="50" required></textarea>
        <p id="addres-req" style="display: none; color: red">Address is required</p>

        <span><input name="quantityy" id="quantityy" min="1" max="20" name="quantity" type="number"
                     value="1" class="form-control" readonly value="{{ item.quantity }}" required/>Quantity</span>
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" type="button">+</button>
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" type="button">-</button>

        <button class="btn btn-outline-success" type="button" id="submit-button">Submit</button>
    </form>


    <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">

        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe('{{ stripe_publishable_key }}');
        var checkoutButton = document.getElementById('submit-button');

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        checkoutButton.addEventListener('click', function () {
            let addres = $('#address-buy').val()
            if (addres != '') {
                let data = {
                    'address-buy': document.getElementById('address-buy').value,
                    'quantityy': document.getElementById('quantityy').value,
                };


                let csrftoken = getCookie('csrftoken');

                // Create a new Checkout Session using the server-side endpoint you
                // created in step 3.
                fetch("{% url 'api_checkout_session' pk %}", {
                    headers: {'X-CSRFToken': csrftoken, 'Content-Type': 'application/json'},
                    body: JSON.stringify(data),
                    method: 'POST'
                })
                    .then(function (response) {

                        return response.json();
                    })
                    .then(function (session) {
                        if (session.message == false) {
                            return window.location.replace({% url 'grocery_store_home' %})
                        } else {
                            return stripe.redirectToCheckout({sessionId: session.sessionId});
                        }
                    })
                    .then(function (result) {
                        if (result.error) {
                            alert(result.error.message);
                        }
                    });
            } else {
                $('#addres-req').css('display', 'block')
            }

        });
    </script>
{% endblock %}