{% extends "product/base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock %}

{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'product/css/home.css' %}">
{% endblock %}

{% block content %}
    {% include 'product/messages.html' %}

<section style="background-color: #eee;">
    <div class="container py-2">
        <div class="row">
            {% for product in products %}
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="card mb-4">
                        <div class="d-flex justify-content-between p-3">
                        </div>
                        <img src="{{ product.image.url }}"
                             class="card-img-top" alt="{{ product.name }}"/>
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <p class="small">{{ product.brand }}</p>
                                <p class="small text-danger">
                                    {% if product.price == product.calculate_discount %}
                                        <i>₹{{ product.price }}</i>
                                    {% else %}
                                        <s>₹{{ product.price }}</s>
                                        <i><b>({{ product.discount }}% Off)</b></i>
                                    {% endif %}
                                </p>
                            </div>

                            <div class="d-flex justify-content-between mb-3">
                                <h4><a href="{% url 'update-product' product.id %}"
                                       class="mb-0">{{ product.name }}</a></h4>
                                <h5 class="text-dark mb-0">₹{{ product.calculate_discount }}</h5>
                            </div>
                            <div class="d-flex justify-content-between mb-2">
                                <p class="text-muted mb-0">Available:
                                    <span class="fw-bold">{{ product.available_quantity }}</span>
                                </p>
                                <div class="d-flex justify-content-between mb-3">
                                    <h6 class="text mb-0">{{ product.volume }} {{ product.volume_unit }}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
