{% extends 'store/../../../product/templates/product/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Password Reset Complete {% endblock %}
{% block css %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'store/css/register.css' %}">
{% endblock %}

{% block content %}
    <p>Password Reset Complete</p>
	<h2>Password successfully reset.</h2>

	<div class="alert alert-info">
		Your password has been reset.
	</div>
	<a href="{% url 'login' %}">Sign in here</a>


{% endblock %}